// /*------ЧИМ ЗАЙМАЄМОСЯ--JOB-----*/
.job {
    @media screen and (max-width:1199px) {
    display: none;}
}
.job-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    text-align: center;
}

.job-list {
    margin-top: 50px;
    display: flex;
    padding-bottom: 94px;
}

.job-list .job-item:not(:last-child) {
    margin-right: 30px;
}

.job-img {
    display: block;
}

.job-item {
    position: relative;
}

.job-text {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
}